body {
    font-family: Arial;
    line-height: 1.8;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

h1 {
    color: darkblue;
    border-bottom: 2px solid #cccccc;
    padding-bottom: 5px;
}

h2 {
    color: darkred;
}

h3 {
    color: darkgreen;
}

pre {
    background-color: #f4f4f4;
    border-radius: 10px;
    padding: 10px;
}

code {
    color: darkblue;
    font-weight: bold;
}
